@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
    --primary: #FFF;
    --secondary: #351C75;
    --highlight: #D496EF;
    --text: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.button {
    background-color: var(--secondary);
    border: 0;
    font-size: 1.8rem;
    color: var(--primary);
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.4s;
}
.button:hover {
    background-color: var(--highlight);
}

header  {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-link {
    color: var(--highlight);
    background-color: transparent;
    border: none;
    padding: 20px;
    font-size: 1.4rem;
    cursor: pointer;
}
.time {
    color: var(--text);
    background-color: transparent;
    border: none;
    padding: 20px;
    font-size: 2rem;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    max-width: 50%;
    text-align: center;
    gap: 50px;
}