
:root {
    --primary: #FFF;
    --secondary: #351C75;
    --highlight: #D496EF;
    --text: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header  {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-link {
    color: var(--highlight);
    background-color: transparent;
    border: none;
    padding: 20px;
    font-size: 1.4rem;
    cursor: pointer;
}
.time {
    color: var(--text);
    background-color: transparent;
    border: none;
    padding: 20px;
    font-size: 3rem;
}