@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
    --primary: #FFF;
    --secondary: #351C75;
    --highlight: #D496EF;
    --text: #000000;
}
[data-theme ="dark"]{
    --primary: #211248;
    --secondary: #4c2ba0;
    --highlight: #482994;
    --text: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: var(--text);
}

.button {
    background-color: var(--secondary);
    border: 0;
    font-size: 1.8rem;
    color: white;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.4s;
}
.button:hover {
    background-color: var(--highlight);
}

header  {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.nav-link {
    color: var(--text);
    background-color: transparent;
    border: none;
    padding: 20px;
    font-size: 1.4rem;
    cursor: pointer;
}
#theme {
    width: 30px;
}
.time {
    visibility: hidden;
    color: var(--text);
    background-color: transparent;
    border: none;
    padding: 20px;
    font-size: 2rem;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, var(--primary) 0%, var(--highlight) 100%);
}
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    max-width: 50%;
    text-align: center;
    gap: 50px;
}

.card-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: clamp(1rem, 2vw, 1.8rem);
    width: 80%;
    background-color: var(--highlight);
    border-radius: 20px;
    padding: 4em;
}
.card > h1 {
    border-bottom: 1px solid black;
}
.answer-btn {
    padding: 10px 40px;
    border-radius: 10px;
    font-size: clamp(1rem, 2vw, 1.8rem);
}
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.results-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: clamp(1rem, 2vw, 1.8rem);
  
}
.results-page > input {
    font-size: clamp(1rem, 2vw, 1.8rem);
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    padding: 10px 0;
    outline: none;

}

.scores-page {
    visibility: hidden;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 28, 117, 0.8);
    display: grid;
    place-items: center;
}
.scores-container {
    background-color: var(--primary);
    width: 50%;
    min-height: 50%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.scores-container > div >  button {
    padding: 10px 20px;
}
.scores-container > ul {
    width: 100%;
    text-align: left;
    font-size: 1.2em;
}
.scores-container > ul > li {
    background-color: var(--highlight);
    padding: 1em;
}